.inline-container, .inline-block-container, .block-container, .flex-container{
    border: 1px solid black;
}
.inline-div{
    display:inline;
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color, 3s; 
}
.inline-block-div{
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color, 3s; 
}
.block-div{
    display:block;
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color, 3s; 
}
.flex-div{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2rem;
    transition: background-color, 3s; 
}



.inline-div:hover, .inline-block-div:hover, .block-div:hover, .flex-div:hover {
    background-color: purple;

}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

@keyframes name {
    0% {width: 100px;}  
    100% {width: 200px;}
}

.inline-div, .inline-block-div, .block-div, .flex-div {
    animation-name: name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}